body {
  font-family: Arial, sans-serif;
  padding: 20px;
  width: 600px;
}

button {
  margin-left: 10px;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
.container
{
  display: flex;
  flex-flow: row;
}